@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins';
}

body {
    background-color: rgb(47, 47, 95);
}

.list {
    list-style: none;
    text-align: center;
}

.link {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 70px;
}

.link::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.link:hover::after {
    transform: scaleX(1);
}